@import url(http://fonts.googleapis.com/css?family=Roboto);

body,html {
	background: #eee;
	font-size: 18px;
	line-height: 1.4;
	color: #333;
}

.maincontent {
	margin: 50px auto;
}
#header-introduction {
	font-family: 'Play', cursive;
}

#header-introduction h3 {
	color:#f0ad4e;
  	border-color: #eea236;
	cursor: pointer;
}
#header-introduction p {
	font-size: 95%;
}

#header-introduction h1:hover {
	font-weight: bold;
}

/* container */
.container
{
	max-width: 850px;
}

.jumbotron {
	padding:0px !important;
	margin:0px !important;
}

 


.navbar-brand h2
{
	padding-top:7px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
	font-family: 'Play', cursive;
}
.navbar-brand h2 a
{
	color:#fff;
  	border-color: #eea236;
  	text-decoration: none;
}
.legals a {
	color: #333;
	font-size: 50%;
}